# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env
.idea/
.vscode/
*.sqlite3

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log
